footer {
	height: 2rem;
	font-family: $font-family--secondary;
	text-align: center;
	opacity: 0.8;
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;

	p{
		font-size: 1rem;
		color: $secondary-color;
		margin-bottom: 0.5rem;
	}

	a {
		color: $white;
	}
}
